@import "typography.css";
@import "button.css";
@import "searchBar.css";
@import "createEditForm.css";

:root {
  --purlple: #5954d2;
  --blue: #3478d7;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "InterstateRegular", sans-serif;
}
